$background-color: #BD3030;
$border-color: #971717;
$title-color: #000;
$text-color: #000;

$break-tablet: 800px;

body
	height: 100vh;
	background-color: #fff;


#pokedex-body
	background-color: $background-color;
	border-radius: 5%;
	// height: 95%;
	width: 900px;
	margin-top: 1%;

	#pokedex-header
		padding-top: 15px;

		h1
			font-size: 60px;
		
#pokemon-search
	height: 40px;
	width: 50%;

#pokemon-list, #pokemon-data, #pokemon-search, #pokedex-body
	border: 1px $border-color solid;

#pokemon-list, #pokemon-data
	margin: 20px auto;
	width: 80%;
	height: 650px;
	background-color: white;
	border-radius: 5%;
	padding-left: 20px;
	padding-right: 20px;

	li
		list-style: none;

		a
			color: black;

#pokemon-table_wrapper, #pokemon-table
	// height: 100%;

#pokemon-table
	padding: 20px;

	tr
		height: 60px;

#pokemon-name h2, #pokemon-abilities h3, #home-button-container
	text-align: center;

#pokemon-name h2
	font-size: 60px;

#pokemon-abilities h3
	font-size: 40px;

#abilty-container
	height: 175px;
	overflow-y: scroll;

#pokemon-image
	width: 200px;
	margin: 0 auto;

	img
		width: 100%;

#pokemon-abilities
	overflow-y: scroll;
	margin-top: 30px;

#nav-buttons
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

	button
		height: 50px;
		width: 50px

	#next-button
		position: absolute;
		right: 0
