body {
  height: 100vh;
  background-color: #fff;
}

#pokedex-body {
  background-color: #BD3030;
  border-radius: 5%;
  width: 900px;
  margin-top: 1%;
}

#pokedex-body #pokedex-header {
  padding-top: 15px;
}

#pokedex-body #pokedex-header h1 {
  font-size: 60px;
}

#pokemon-search {
  height: 40px;
  width: 50%;
}

#pokemon-list,
#pokemon-data,
#pokemon-search,
#pokedex-body {
  border: 1px #971717 solid;
}

#pokemon-list,
#pokemon-data {
  margin: 20px auto;
  width: 80%;
  height: 650px;
  background-color: white;
  border-radius: 5%;
  padding-left: 20px;
  padding-right: 20px;
}

#pokemon-list li,
#pokemon-data li {
  list-style: none;
}

#pokemon-list li a,
#pokemon-data li a {
  color: black;
}

#pokemon-table {
  padding: 20px;
}

#pokemon-table tr {
  height: 60px;
}

#pokemon-name h2,
#pokemon-abilities h3,
#home-button-container {
  text-align: center;
}

#pokemon-name h2 {
  font-size: 60px;
}

#pokemon-abilities h3 {
  font-size: 40px;
}

#abilty-container {
  height: 175px;
  overflow-y: scroll;
}

#pokemon-image {
  width: 200px;
  margin: 0 auto;
}

#pokemon-image img {
  width: 100%;
}

#pokemon-abilities {
  overflow-y: scroll;
  margin-top: 30px;
}

#nav-buttons {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#nav-buttons button {
  height: 50px;
  width: 50px;
}

#nav-buttons #next-button {
  position: absolute;
  right: 0;
}

